<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="WSHttpBinding_ISyncReply">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WSHttpBinding_IOneWay">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/soap12" binding="customBinding"
                bindingConfiguration="WSHttpBinding_ISyncReply" contract="ServiceStackHelloWebService.ISyncReply"
                name="WSHttpBinding_ISyncReply" />
            <endpoint address="http://localhost:8080/soap12" binding="customBinding"
                bindingConfiguration="WSHttpBinding_IOneWay" contract="ServiceStackHelloWebService.IOneWay"
                name="WSHttpBinding_IOneWay" />
        </client>
    </system.serviceModel>
</configuration>